.dashboard {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem;        
    font-weight: 700;
  }
  
  .mat-h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #c57102;
  }
  
  table {
    width: 90%;
  }
  
  th{
    height: 1rem;
    color:#dd9f0c;
    font-weight: 600;
    align-content: center;
  }

  th,
  td {
    padding: 0.rem;
    
  }